


<div class="popup popup-container" data-popup-target="popup">
<h3>Import Your Code</h3>

<h4>Choose File</h4>
    <%= file_field_tag :source_code %>
  <%= form_with model: @note, url: upload_path, multipart: true do |form| %>
    <p> Mindbase supports .html, .erb, .js, and .css</p>
    <div class="categories">
    <div class="categ-title">
      <%= form.label :category, "Choose Categories"%>
    </div>




    <div class="categ-list">
    <ul>
      <%= collection_check_boxes(:note, :category_ids, Category.where(user: current_user), :id, :name) do |checkbox|%>
      <li><%= checkbox.check_box %>
      <%= checkbox.label %></li>
      <% end %>
    </ul>
    </div>
      <br>
      <%# <%= link_to "Create New Category", new_category_path %>
    </div>
    <div class="btn-popup">
    <button class="cancel-btn">Cancel</button>
    <%= form.submit "Import", class: "import-btn" %>
    </div>
  <% end %>
    <%= simple_form_for Category.new do |c| %>
    <%= c.input :name %>
    <%= c.input :category_type %>
    <%= c.button :submit %>
    <% end %>
</div>
<div id="overlay" data-popup-target ="overlay" data-action="click->popup#closePopup"></div>
