<div class="navbar navbar-expand-sm navbar-light navbar-mindbase" data-controller = "search">
  <div class="container-fluid ">
    <%= link_to categories_path, class: "navbar-brand" do %>
      <%= image_tag "Logo - Pajamas.png" %>
      <h4>Mindbase</h4>
    <% end %>

    <% if Rails.env == "development" %>
      <div>
        <p style="color: white;"> Requests Remaining: <%= @limit %></p>
      </div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto navbar_right">
        <div class="searchbar" data-action = "click->search#test_click", data-note-target = "searchBar">
          <i class="fa-solid fa-magnifying-glass"></i>
          <%= form_with url: categories_path, method: :get, class: "d-flex search_form w-100" do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Search or jump to..",
            class: "w-100" %>
          <% end %>
        </div>

        <%= link_to new_category_path, "data-controller": "turbo" do %>
          <div class="nav-item upload">
            <i class="fa-solid fa-square-plus"></i>
            <p class= "nav-link">Upload Code</p>
          </div>
        <% end %>

        <div class="user_dropdown">
          <ul>
            <li class="nav-item dropdown">
                <%= link_to "#", class: "avatar dropdown-toggle d-flex align-items-center", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                <div id="user_letter">
                  <%= current_user.first_name.chr.upcase %>
                </div>
                <% end %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> <strong><%= current_user.first_name.capitalize%></strong> <br> <%= current_user.email %></a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
