<div class="navbar navbar-expand-sm navbar-light navbar-mindbase">
  <div class="container-fluid ">
    <%= link_to categories_path, class: "navbar-brand" do %>
      <%= image_tag "Logo - Pajamas.png" %>
      <h4>Mindbase</h4>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto navbar_right">
        <%# if user_signed_in? %>
        <div class="searchbar">
          <i class="fa-solid fa-magnifying-glass"></i>
          <%= form_with url: categories_path, method: :get, class: "d-flex search_form" do %>
          <%= text_field_tag :query,
            params[:query],
            # class: "form-control",
            placeholder: " Search or jump to.." %>
          <% end %>
        </div>

        <div class="nav-item upload">
          <i class="fa-solid fa-square-plus"></i>
          <%= link_to "Upload Code", "#", class: "nav-link" %>
        </div>

        <div class="user_dropdown">
          <ul>
            <li class="nav-item dropdown">
              <div id="user_letter">
                <%= current_user.first_name.chr.upcase %>
              </div>
                <%= link_to "#", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                <% end %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> <strong><%= current_user.first_name.capitalize%></strong> <br> <%= current_user.email %></a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" data-turbo-method="delete" href="#">Sign out</a>
                </div>
            </li>
          </ul>
        </div>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
