<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid ">
    <%= link_to categories_path, class: "navbar-brand" do %>
      <%= image_tag "Mindbase_logo.png" %>
      <h4>Mindbase</h4>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="searchbar">
      <%# <input type="text" placeholder="Search.."> %>
      <%= form_with url: categories_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          # class: "form-control",
          placeholder: "Search"
        %>
      <i class="fa-solid fa-magnifying-glass"><%= submit_tag %></i>
    <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto navbar_btn">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "+ Add Notes", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "#", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
