<%= form_with model: Note.new(language: "ruby"), html: { autocomplete: "off" }, data: { "note-target": "form"} do |form| %>
  <div class="code_content">
    <% if note.comment != "" %>
      <div class="note_content UI_Label_Regular_black" style="margin-bottom: 0px;">
<%= form.text_field :comment, class: "invisible-form" %> <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
      </div>
    <%end%>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :language, value: "ruby" %>
    <%= form.hidden_field :file_name, value: "/somefile.erb" %>
    <%= form.hidden_field :category_id, value: params[:id] %>

<div>
  <%= form.text_field :code, class: "white-box", data: {action: "blur->note#send"} %>  <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
</div>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="cat-files">
        <%# note.file_name %>
      </div>
      <div class="UI_Label_Regular_grey_small">
        <%# note.language.capitalize %>
      </div>
    </div>
  </div>
<% end %>
