  <div class="code_content">
    <% if note.comment != "" %>
      <div class="note_content UI_Label_Regular_black">
<%= note.comment %> <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
      </div>
    <%end%>
    <% if note.code.gsub(/\s+/, "") != "" %>
        <pre class="highlight-margin">
          <code class= "<%= note.language %>">
<%= note.code %>  <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
          </code>
        </pre>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="cat-files">
        <%= note.file_name %>
      </div>
      <div class="UI_Label_Regular_grey_small">
        <%= note.language.capitalize %>
      </div>
    </div>
    <% end %>
  </div>
