<div class="github-new-container" data-controller="create-category">
  <h3>Choose Your File</h3>

  <%= form_with url: upload_gh_path do |form| %>
    <div class="path-file">
      <%= form.label :path, "From #{params[:repo]}/"%>
      <%= form.select :path, @files %>
      <%= form.hidden_field :repo, value: params[:repo] %>
      <%= form.hidden_field :owner, value: params[:owner] %>
    </div>
    <div class="categories">
      <div class="categ-title">
        <%= form.label :category, "Choose Categories"%>
      </div>
      <div class="categ-list" data-create-category-target="list">
        <ul>
          <%= collection_check_boxes(:note, :category_ids, Category.where(user: current_user), :id, :name) do |checkbox|%>
          <li><%= checkbox.check_box %>
          <%= checkbox.label %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="btn-popup">
    <button class="add-categ-btn" data-action="click->create-category#revealForm">New Category</button>
    <%= form.submit "Import", class: "import-btn" %>
    </div>

  <% end %>

  <%= simple_form_for Category.new, html:{class: "d-none", data: { create_category_target:"form" }} do |c| %>
    <%= c.input :name %>
    <%= c.input :category_type %>
    <%= c.button :submit %>
  <% end %>

</div>
