<h1>Github#new</h1>
<p>Find me in app/views/github/new.html.erb</p>


this is how to get all respositories
<ul>
<% @client.repositories.each do |repo| %>
  <li>
    owner: <%= repo.owner.login %> <br>
    name: <%= repo.name %> <br>
    url: <%= content_path = repo.contents_url.to_s.sub("{+path}","") %> <br>
    <%# https://api.github.com/repos/jrhome/rails-longest-word-game/git/blobs/2be3af26fc5a3d019690b50e0849651dde258794 %>
  </li>
<% end %>
</ul>


this is how to render the contents
<%# how to get content of a given file  %>
<% code1 = @client.contents("jrhome/rails-watch-list", :path => 'app/models/movie.rb') %>
<div style = "white-space: pre">
<%= Base64.decode64(code1.content) %>


this is how to get a list of files:
<% lib = @client.contents("jrhome/rails-watch-list") %>
<% lib.each do |file| %>
  <%= file.path %> | <%= file.type %> | <%= @client.contents("jrhome/rails-watch-list", :path => file.path).content if file.type == "file" %>
  <% if file.type == "dir" %>
    <% child_path = @client.contents("jrhome/rails-watch-list", :path => file.path) %>
    <% child_path.each do |child_file| %>
      <%= child_file.path %> | <%= file.type %>
    <% end %>
  <% end %>
<% end %>

<!--
<p>---------------------------------------------------------------------------</p>
<% lib.each do |file| %>
  <% if file.type == "file" %>
    <%= file.name %>
    <%= file.path %>
    <% code = @client.contents("jrhome/rails-watch-list", :path => file.path) %>
    <% if code.content.present? %>
      <%= Base64.decode64(code.content) %>
    <% end %>
  <% end %>
<% end %>
</div>
-->
