<div class="container" >

  <h1 class= "mt-5"> Your comments, all together now.</h1>
  <div class="row">
    <ul>
      <% @categories.group_by {|c| c.category_type }.each do |cat_type, categories| %>
        <div class="cat-type-container">
          <p class="cat-type"><%= cat_type %></p>


          <div id="carouselExampleControls-<%= cat_type %>" class="carousel slide"        data-bs-interval="false">
            <div class="carousel-inner">

              <%# --------- CAROUSEL ----------- %>

            <% categories.each_slice(3).with_index do |slide_categories, index| %>
              <div class="carousel-item  <%= 'active' if index.zero? %>">
                <div class="cards">
                  <% slide_categories.each do |cat| %>
                    <%= link_to category_path(cat) do %>
                      <div class="card-cat <%= cat_type == "Project" ? 'card-cat-project' : cat_type == "Language" ? 'card-cat-language' : 'card-cat-personal' %>">
                          <div class="cat-name">
                            <%= cat.name %>
                          </div>
                          <div class="cat-bottom">
                            <div class="cat-date">
                              <% if ((Time.now.utc - cat.updated_at) / 3600) < 24 %>
                              <%= "Today" %>
                              <% else %>
                              <%= cat.updated_at.strftime("%m/%d/%Y") %>
                              <% end %>
                            </div>
                          <div class="cat-info">
                            <div class="cat-notes">
                              <i class="fa-solid fa-laptop-code"></i>
                              <%= "Notes: #{cat.notes.count}"%>
                            </div>
                            <div class="cat-files">
                              <i class="fa-regular fa-file"></i>
                              <%= "Files: #{cat.notes.map {|note| note.file_name }.uniq.size}"%>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    <% end %>
                </div>

                <%# ------------------------------- %>

              </div>
            <% end %>
          </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= cat_type %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true">
              <i class="fa-solid fa-arrow-left"></i></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= cat_type %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true">
              <i class="fa-solid fa-arrow-right"></i></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>




    <% end %>
    </ul>
  </div>

</div>
