<div class="container">

  <h1>DASHBOARD</h1>

  <ul>
      <% @categories.group_by {|c| c.category_type }.each do |cat_type, categories| %>
        <p><%= cat_type %></p>
        <% categories.each do |cat| %>
          <p><%= cat.name %>
          <%= "Notes: #{cat.notes.count}" %>
          <%= "Files: #{cat.notes.map {|note| note.file_path }.uniq.size}" %>
        <% end %>
      <% end %>
  </ul>

<h3>Upload Your Source Code</h3>
<%= render 'shared/file_upload' %>

</div>
