<div class="container" >

  <h1 class= "mt-5"> Your comments, all together now.</h1>
  <div class="row">
    <ul>
        <% @categories.group_by {|c| c.category_type }.each do |cat_type, categories| %>
          <p class="cat-type"><%= cat_type %></p>
        <div class="cards">
                  <% categories.each do |cat| %>
                <%= link_to category_path(cat) do %>
                  <div class="card-cat">
                    <div class="cat-name">
                      <%= cat.name %>
                    </div>
                      <div class="cat-info">
                        <div class="cat-notes">
                          <%= "Notes: #{cat.notes.count}"%>
                        </div>
                        <div class="cat-files">
                          <%= "Files: #{cat.notes.map {|note| note.file_name }.uniq.size}"%>
                        </div>
                      </div>
                  </div>
                  <% end %>
                <% end %>
            </div>
        <% end %>
    </ul>
  </div>



</div>
