
<div class="container">
  <div class="head_show">
    <button class="back-button">
      <%= link_to "Back", categories_path %>
    </button>

    <div class="searchbar_show">
      <%= form_with url: category_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            placeholder: "Search" %>
        <%= button_tag  do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>

  </div>

  <h1><%= @category.name %></h1>
  <%= link_to "delete category", category_path(@category),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-btn" %>

  <%# <%= raise %> %>
  <% @notes.each do |note| %>
    <% if note.before_comment != "" %>
      <div class="code_content">
        <%= note.before_comment %>
      </div>
    <% end %>
    <% if note.comment != "" %>
      <div class="note_content">
        <%= note.comment %>
      </div>
    <% end %>
    <% if note.after_comment != "" %>
      <div class="code_content">
        <%= note.after_comment %>
      </div>
    <% end %>
  <% end %>

  <br>
  <button>
    <%= link_to "Add note", new_note_path(@category) %>
  </button>


</div>
