<div class="container" data-controller="highlight">
  <div class="head_show">
    <div>
      <%= link_to "< Back", categories_path, {class: "UI_Label_Reg"} %>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between align-items-center mb-3 mt-3" >
  <h1><%= @category.name %></h1>
  <%= link_to "Delete Page", category_path(@category),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "UI_Label_Reg" %>
  </div>
  <% @notes.each do |note| %>
  <div class="code_content">
    <% if note.comment != "" %>
      <div class="note_content UI_Label_Regular_black">
<%= note.comment %> <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
      </div>
    <%end%>
    <% if note.before_comment.gsub(/\s+/, "") != "" %>
        <pre class="highlight-margin">
          <code class= "<%= note.language %>">
<%= note.before_comment %>  <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
          </code>
        </pre>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="cat-files">
        <%= note.file_path %>
      </div>
      <div class="UI_Label_Regular_grey_small">
        <%= note.language.capitalize %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <br>
  <button>
    <%= link_to "Add note", new_note_path(@category) %>
  </button>
</div>
