<div class="container" data-controller="highlight" >
  <div class="head_show">
    <div>
      <%= link_to "< Back", categories_path, {class: "UI_Label_Reg"} %>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between align-items-center mb-3 mt-3" >
  <h1><%= @category.name %></h1>
    <%= link_to "Delete Page", category_path(@category),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "UI_Label_Reg" %>
  </div>

  <div class="notes-container" >
    <% @notes.each do |note| %>
    <div data-controller="note-edit">
      <div class="code_content">
        <% if note.comment != "" %>
          <div class="note_content UI_Label_Regular_black" data-note-edit-target="comment" data-action="click->note-edit#edit_comment">
<%= note.comment %> <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
          </div>
        <%end%>
        <% if note.code.gsub(/\s+/, "") != "" %>
          <pre class="highlight-margin">
            <code class= "<%= note.language %>" data-note-edit-target="code" data-action="click->note-edit#edit_code">
<%= note.code %>  <!-- DO NOT CHANGE INDENTATION HERE. Should on first indentation-->
            </code>
          </pre>
          <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="cat-files">
              <%= note.file_name %>
            </div>
            <div class="UI_Label_Regular_grey_small">
              <%= note.language.capitalize %>
            </div>
          </div>
        <% end %>
        <div class="edit-form d-none" data-note-edit-target="showEditForm" >
          <%= render "shared/edit_note", note: note, category: @category %>
        </div>
      </div>


    </div>
    <% end %>

    <div data-controller="note">
      <div class="big_button" data-action="click->note#new_note" data-note-target="hideme">
      </div>
      <div data-note-target = "showme" hidden>
        <%= render "shared/new_note", note: Note.last %>
      <div>
    </div>
  </div>
  <%# <br>
  <button>
    <%= link_to "Add note", new_note_path(@category) %>
  <%# </button> %>

</div>
