<!DOCTYPE html>
<html>
  <head>
    <title>Mindbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# Link swiper CSS (carousel for index page) %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

    <%# Link code colorizer CSS (for adding color to code notes) %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/vs.min.css">
    </head>
  <body>

  <% unless params[:id] || ["/users/sign_in", "/users/sign_up", "/users/sign_up", "/categories/#{params[:id]}"].include?(request.path) %>
    <%= render "shared/navbar" %>
  <% end %>

  <% if params[:id] && "/categories/#{params[:id]}" == request.path  %>
    <%= render "shared/navbar_show" %>
  <% end %>

  <%= yield %>

    <%= render "shared/flashes" %>
  </body>
</html>
