<!DOCTYPE html>
<html>
  <head>
    <title>Mindbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# Link swiper CSS (carousel for index page) %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  </head>

  <body>

  <% if request.path != "/users/sign_in" && request.path != "/users/sign_up" && request.path != "/users/password/new" %>
    <%= render "shared/navbar" %>
      <% end %>
  <%= yield %>

    <%= render "shared/flashes" %>
  </body>
</html>
